[Unit]
Description=Run control-center autoupdate every 10 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Unit=vidgen-control-center-autoupdate.service
Persistent=true

[Install]
WantedBy=timers.target
